@model Seekers.Models.JopDate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>JopDate</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.displayJopDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.displayJopDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.deadline)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deadline)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jop.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jop.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.category.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.category.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
